
<div class="content" fxLayout="row wrap">

    <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Skype</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/skype.jpg" />
        <mat-card-content>
          <p>c'est un logiciel gratuit, qui permet aux utilisateurs de passer des appels téléphoniques ou vidéo</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="skype()">View more</button> 
        </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Gimp</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/gimp.png" />
        <mat-card-content>
          <p>c'est un logiciel et outil d'édition et de retouche d'image libre</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="gimp()">View more</button> 
        </mat-card-actions>
    </mat-card>

</div>

