<!--<mat-toolbar color="primary" > 
  <span> MySiteTest </span> 

  <div class="spacer">

  </div>

  <a mat-button> Software </a>
  <a mat-button> Home </a>
  <a mat-raised-button> LogOut</a>
 </mat-toolbar>-->

<mat-toolbar color="primary"> Description Skype</mat-toolbar>
<div class="content">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Skype</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./../assets/skype.jpg" />
    <mat-card-content>
      <p>Skype est un logiciel qui permet aux utilisateurs de passer des appels téléphoniques ou vidéo via Internet, ainsi que le partage d'écran. Les appels d’utilisateur à utilisateur sont gratuits, tandis que ceux vers les lignes téléphoniques fixes et les téléphones mobiles sont payants.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button> <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>